<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-light bg-dark">
  <!-- Container wrapper -->
  <div class="container">
    <!-- Navbar brand -->
    <a class="navbar-brand me-2" routerLink="/">
      <img src="https://media.tenor.com/mh3sun0xbUUAAAAM/blue-archive-tendou-aris.gif" height="30"
        style="margin-top: -1px;" />
    </a>

    <!-- Toggle button -->


    <!-- Collapsible wrapper -->
    <div class="collapse navbar-collapse" id="navbarButtonsExample">
      <!-- Left links -->
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a routerLink="/">MangaWeb</a>
        </li>
      </ul>
      <!-- Left links -->

      <div class="d-flex align-items-center">
        <button routerLink="login" class="btn btn-success px-3 me-2">
          Login
        </button>
        <button type="button" routerLink="register" class="btn btn-primary px-3 me-2">
          registrate
        </button>
        <button type="button" routerLink="carro" class="btn btn-primary px-3 me-2">
          Carro
        </button>
      </div>
    </div>
    <!-- Collapsible wrapper -->
  </div>
  <!-- Container wrapper -->
</nav>
<!-- Navbar -->

<router-outlet></router-outlet>