<!-- Cards -->

<body>
    <div class="card-group mb-12">
        <div class="card mb-4">
            <img class="card-img-top" src="/assets/img/berserk-vol-1.jpg" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title"><label id="title1"></label></h5>
                <p class="card-text">Nada que decir, de los mejores, si no el mejor manga de todos los tiempos.</p>
                <button class="btn btn-primary" onclick="">Agregar al carro</button>
            </div>
            <div class="card-footer">
                <small class="text-muted">En curso</small>
            </div>
        </div>
        <div class="card mb-4">
            <img class="card-img-top " src="/assets/img/berserk-vol-1.jpg" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title"><label id="title2"></label></h5>
                <p class="card-text">Nada que decir, de los mejores, si no el mejor manga de todos los tiempos.</p>
                <button class="btn btn-primary" onclick="">Agregar al carro</button>
            </div>
            <div class="card-footer">
                <small class="text-muted">En curso</small>
            </div>
        </div>
        <div class="card mb-4">
            <img class="card-img-top" src="/assets/img/berserk-vol-1.jpg" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title"><label id="title3"></label></h5>
                <p class="card-text">Nada que decir, de los mejores, si no el mejor manga de todos los tiempos.</p>
                <button class="btn btn-primary" onclick="">Agregar al carro</button>
            </div>
            <div class="card-footer">
                <small class="text-muted">En curso</small>
            </div>
        </div>
        <div class="card mb-4">
            <img class="card-img-top" src="/assets/img/berserk-vol-1.jpg" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title"><label id="title4"></label></h5>
                <p class="card-text">Nada que decir, de los mejores, si no el mejor manga de todos los tiempos.</p>
                <button class="btn btn-primary" onclick="">Agregar al carro</button>
            </div>
            <div class="card-footer">
                <small class="text-muted">En curso</small>
            </div>
        </div>
    </div>
    <br>
    <div class="card-group mb-12">
        <div class="card mb-4">
            <img class="card-img-top" src="/assets/img/berserk-vol-1.jpg" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title"><label id="title5"></label></h5>
                <p class="card-text">Nada que decir, de los mejores, si no el mejor manga de todos los tiempos.</p>
                <button class="btn btn-primary" onclick="">Agregar al carro</button>
            </div>
            <div class="card-footer">
                <small class="text-muted">En curso</small>
            </div>
        </div>
        <div class="card mb-4">
            <img class="card-img-top" src="/assets/img/berserk-vol-1.jpg" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title"><label id="title6"></label></h5>
                <p class="card-text">Nada que decir, de los mejores, si no el mejor manga de todos los tiempos.</p>
                <button class="btn btn-primary" onclick="">Agregar al carro</button>
            </div>
            <div class="card-footer">
                <small class="text-muted">En curso</small>
            </div>
        </div>
        <div class="card mb-4">
            <img class="card-img-top" src="/assets/img/berserk-vol-1.jpg" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title"><label id="title7"></label></h5>
                <p class="card-text">Nada que decir, de los mejores, si no el mejor manga de todos los tiempos.</p>
                <button class="btn btn-primary" onclick="">Agregar al carro</button>
            </div>
            <div class="card-footer">
                <small class="text-muted">En curso</small>
            </div>
        </div>
        <div class="card mb-4">
            <img class="card-img-top" src="/assets/img/berserk-vol-1.jpg" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title"><label id="title8"></label></h5>
                <p class="card-text">Nada que decir, de los mejores, si no el mejor manga de todos los tiempos.</p>
                <button class="btn btn-primary" onclick="">Agregar al carro</button>
            </div>
            <div class="card-footer">
                <small class="text-muted">En curso</small>
            </div>
        </div>
    </div>
    <div class="container" style="align-items: end;">
        <button class="btn btn-primary" (click)="handleNavigation()">Agregar al carro</button>

    </div>
</body>